<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E441599A1C3533B900FBE9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E44159AE1C3533BA00FBE9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E44159B91C3533BA00FBE9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
